.cart-page {
    font-family: Arial, sans-serif;
  }
  
  /* Header Section */
  .cart-header1 {
    text-align: center;
    padding: 100px 20px;
    color: black;
  }
  
  .cart-header h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
  .cart-header1 p {
    font-size: 16px;
    margin-top: 10px;
  }
  
  /* Cart Content */
  .cart-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
  }
  
  /* Cart Table */
  .cart-table-container {
    flex: 3;
  }
  
  .cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .cart-table th{
    border: none;
    padding: 15px;
    text-align: left;
    font-size: 16px;
  }
  .cart-table td {
    border: none;
    padding: 15px;
    text-align: left;
    font-size: 15px;
    color: #9F9F9F;
  }
  
  .cart-table th {
    background-color: #f9f1e7;
    font-weight: bold;
  }
  
  .cart-product {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Quantity Input */
  .quantity-input {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Remove Button */
  .remove-item {
    background: none;
    border: none;
    color: #c19a5f;
    cursor: pointer;
    font-size: 18px;
  }
  
  /* Cart Totals */
  .cart-totals {
    flex: 1;
    border: 1px solid #ddd;
    padding: 15px 5px;
    border-radius: px;
    background-color: #f9f1e7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  
  .cart-totals h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .totals-details {
    margin-bottom: 20px;
  }
  
  .totals-row {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .totals-row.total {
    font-weight: bold;
    font-size: 18px;
  }
  
  .checkout-button {
    width: 50%;
    padding: 10px;
    
    background-color: transparent;
    color: black;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
    justify-content: center;
    border-radius:10px ;
   
  }
  .total{
    color: #c19a5f;
  }