/* General Page Styles */
.contact-page {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; 
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    overflow-x: hidden; 
  }
  
  .contact-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
  }
  
  .contact-header-content h1 {
    font-size: 32px;
    margin: 0;
  }
  
  .contact-header-content p {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .contact-content {
    text-align: center;
    margin-top: 40px;
    padding: 0; /* Remove padding */
  }
  
  .contact-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-content p {
    font-size: 14px;
    color: #666;
    margin-bottom: 40px;
  }
  
  .contact-info-form {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0; 
    gap: 20px;
  }
  
  .contentinfo-content{
    padding-top: 10px;
  }
  .contact-info {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
  
  .info-item {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 20px;
  }
  
  .svg-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .info-item h4 {
    font-size: 16px;
    margin: 0 0 5px 0;
    text-align: left;
    color: black;
  }

  .address
  {
    display: flex;
    flex-direction: column;
    white-space: wrap;
  }
  
  .info-item p {
    font-size: 14px;
    color: #666;
    margin: 0;
    text-align: left;
    line-height: 20px;
  }
  
  .contact-form {
    width: 50%; 
  }
  
  .contact-form .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .contact-form label {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .contact-form textarea {
    resize: none;
  }
  
  .submit-button {
    width: 30%;
    padding: 15px;
    background-color: #B88E2F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .form-class
  {
    padding : 0;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 1024px) {
    .contact-info-form {
      flex-direction: column; 
      gap: 20px; 
    }
  
    .contact-info,
    .contact-form {
      width: 100%; 
    }
  }
  